@import url("style.css");
@import url("ol/style.mobile.css");

#mappa{position:relative;background:#fff; box-shadow: 0px 0px 2px rgba(0,0,0,0.5); z-index:1 !important;}
#mappaTool{ position: absolute; top: 15px; right: 0px; z-index: 2000; background: rgba(0,0,0,0.7); border-radius:5px 0px 0px 5px;}
#mappaTool header{color: #fbbc05;}
#mappaTool article#infoJob{display: block;}
#mappaTool article#infoJob div.infoJobContent{color:#fff;}
#mappaTool article#infoJob div.infoJobContent span{display:block; color:#82C914;}
#mappaTool article#infoJob div.infoJobContent div.linkSchede a{display:inline-block; color:#82C914;margin-right:5px;padding: 2px 5px; border-radius: 3px;}
#mappaTool article#infoJob div.infoJobContent div.linkSchede a:hover{background:#82C914;color:#000;}
.descrAttiv{position:relative;height:auto;max-height:180px;overflow:auto;}
#mappaTool article#switchLayer{display: none;}
#mappaTool article#switchLayer li{padding:5px 0px;}
#mappaTool article#switchLayer li label{cursor:pointer;color:#909090;font-weight:bold;}
#mappaTool article#switchLayer li label:hover{color:#fff;}
#mappaTool article#switchLayer li i{margin-right:5px;}
#mappaTool article#switchLayer input[type=checkbox]{max-height: 0; max-width: 0; opacity: 0;}

section#main article ul li { background: #fff;margin-bottom: 10px; box-shadow: 0px 1px 1px rgba(0,0,0,0.3);}
section#main article ul:not(.oddMainList) li { padding: 30px;}
section#main article a {font-size: 1.2rem; text-shadow: 0px 0px 0px rgba(0,0,0,0);}
.headline a:hover{text-shadow: 0px 0px 1px rgba(0,0,0,0.7) !important;}
section#main article p { font-size: .7rem;}

section#servizi{position:relative;width:100%;}
section#servizi header{background: #FBBC05; padding: 10px;font-size:2rem;}
.serviziTxt {position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: rgba(71,47,36,0.4) url("../img/servizi/bgSlider.png") repeat top left;}
section#servizi .container { position: absolute; left: 10%; bottom: 10%; right: 10%; padding: 0 3%; margin: 0 auto; color: #fff; overflow: hidden;}
section#servizi .container h1 { display: block; border-bottom: 1px solid #fff; margin-bottom: 2%; width: 80%;}
.flex-control-nav { bottom:20px !important;}

p.footerArticle{padding: 3px 5px; color: #fff !important; margin-bottom:10px;}
p.footerArticle a{display:inline-block; color: #fff !important; width:100%;margin:0px !important;font-size: .8rem !important;}
p.footerArticle a:nth-child(2){text-align:right;}
p.footerArticle i{color: #fff; float: none !important; margin: 0px;}
#ator p.footerArticle a{width:49% !important;}
#ator header,#ator p.footerArticle { background: #66bbdd;}
#ator i.fa-5x{color:#66bbdd;}

#media header.sectionMain, #media p.footerArticle { background: #093;}
#media header.head2odd{display:inline-block; width:100%; margin:5px 0px; border-bottom:1px solid #093;color:#093;font-size:1.2rem;}
#media ul.oddMainList li{padding:0px;}
#media ul.oddList li:nth-child(odd){background: #d6f7d8 !important;}
#media ul.oddList li{padding:10px 30px !important;margin-bottom:0px !important;box-shadow: none !important;}
#media ul.oddList li a:hover{color:#093 !important;}
.oddIco{ display: inline-block; width: 20px; vertical-align: top;}
.oddIco i{float:none !important;}
.oddText{display: inline-block; width: 90%; vertical-align: top;}
#media a, #media i.fa-5x{color:#093;}
#media div:first-child{padding:30px;}
.aSubSec{color:#363A3F !important;font-size:.9rem !important;}

#post header, #post p.footerArticle { background: #FBBC05;}
#post a, #post i.fa-5x{color:#FBBC05;}
#social header { background: #1DA1F2;}
#social i.fa-5x{color:#1DA1F2;}
#youtube header, #youtube p.footerArticle { background: #cc181e;}
#youtube a{color:#cc181e;}
#youtube div i{color:#cc181e;}
#tag header, #tag p.footerArticle { background: #494177;}
#tag div i{color: #494177;}
#tag a.tag{ color: #494177; margin: 1px; display: inline-block;text-shadow: 0px 0px 0px rgba(0,0,0,0);padding:0px 5px;}
#tag a.tag:hover{background: #494177; color:#fff;border-radius:3px;}
.mainDiv article div i{ float: left; margin-right: 10px;}
header.sectionMain, header.sectionMain a {color: #fff !important;}
header.sectionMain { padding: 10px 20px;}


.head2odd i{float:none !important; margin:0px !important;}
.head2odd img{vertical-align:middle;}
.olControlZoom{top: 15px !important; left: 0px !important; background: none !important; border-radius: 0px !important; padding: 0px !important;}
.olControlZoom a{margin: 0px !important; color:#fff !important;background:rgba(0, 0, 0, 0.7) !important;}
.olControlZoom a:first-child{border-radius: 0px 5px 0px 0px !important;}
.olControlZoom a:last-child {border-radius: 0px 0px 5px 0px;}
.olControlZoom a:nth-child(2) {border-radius: 0px 0px 0px 0px !important;}
.olControlZoom a:hover{background:rgba(0, 0, 0, 0.9) !important;}
