@import url("style.css");
#presentazione{margin:30px 0px; color:#fff;background:#FBBC05;border-radius:3px;padding:20px;}
#presentazione span:first-child{width:10%;}
#presentazione span:last-child{width:80%;font-size:1.65rem;}
#presentazione a{color:#fff;border-bottom:1px dashed #fff;}
.footable thead tr{border:none;}
.footable th{background:none;}
.footable tbody td header{font-size:1.5rem;}
.footable tbody td p{font-size:1rem;}
.footable tbody td div a{display: inline-block; color:#009933; padding: 3px 7px; border-radius: 3px;font-size:.85rem;}
.footable tbody td div a:hover{background:#009933;color:#fff;}
.buttonFooter{margin:10px 0px;}
.footable tbody td footer{font-size:.9rem;padding:10px;text-align:right;background:none;margin:0px;}
/***************************************/

#statoLabel{ padding: 7px 10px; border: 1px solid #999; display: inline-block; font-size: .8rem; border-radius: 3px; cursor: pointer;}
.checkedLabel{background: #ccc;}
