@import url("style.css");
@import url("../lib/tag/tagmanager.css");
.form {width:80%;}
input[name="titolo"]{width:99%;border-radius:3px;}
.statoPost{text-align: center;display:block}
.radioLabel{display:inline-block;margin:20px 1px;padding:5px 7px;border:1px solid #ccc;background:#eee;cursor:pointer; font-size:.9rem;border-radius:3px;}
input[name=stato]{display: none;}
.checked{background: #82C914; border: 1px solid #64A106;}
