@import url("reset.css");
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800,300);
@import url(https://fonts.googleapis.com/css?family=Titillium+Web:400,300,200,700);
@import url("font/css/font-awesome.min.css");
html{background:#EEE;font-family: 'Titillium Web', sans-serif !important;font-size:100% !important;color:#363A3F;}
select, input, textarea,button{border:1px solid #999; font-size:.8rem; padding:6px; vertical-align:top; border-radius: 3px;}
select{background:#fff;}
textarea{height:20px;}
button[type=submit]{background:#0088cc;cursor:pointer;width:97%;font-size:1.25rem;color:#fff;border:1px solid #0D6FA0;}
button[type=submit]:hover{background:#0D6FA0;}

header#main{position: fixed;top: 0; right: 0px; z-index: 3; background: rgba(52,56,61,0.9);}
footer, footer a { color: #6E6C6C;}
footer { position: relative;font-size: 0.8em;text-align: center;background: #d2d2d2;}
footer #wrapFooter header { font-size: 1rem; color: #82C914;font-weight: bold;}
footer#toolbar{background: none;text-align:left;}

section.content, section.ckform {position: relative; background: #fff; margin: 30px auto; padding: 30px; border: 1px solid #ccc; border-radius: 5px; width: 90%;}
section.content header, section.ckform header { display: block; width: 100%; border-bottom: 1px solid #999; font-size: 1.5rem; color: #999;}
section.toolbar{margin: 10px 0px;font-size:.9rem;}
section.toolbar div{display:inline-block;width:49.5%;margin:0px;padding:0px;}
section.toolbar a{display:inline-block;background:#82C914;border:1px solid #64A106; color:#fff; padding:3px 5px; border-radius:3px; text-decoration:none;}
section.toolbar a:hover{background:#64A106;}
section.toolbar i{margin-right:10px;}
section.toolbar .tableTool{text-align:right;}
section.content:not(".footable  ") span{font-size: 1rem; text-align: center; display: block; margin-top: 20px; color: red;}

.avatar{ position:relative; width: 100px; height: 100px; background-color: #d6d6d6; background-size: cover; background-repeat: no-repeat; background-position: center center; border-radius: 100px; border: 4px solid #fff; box-shadow: 0px 0px 10px #000; vertical-align:middle !important; text-align:center;margin:0px auto;}

/* link */
a.button{background: #dff0d8; border:1px solid #d6e9c6; font-size:.8rem; padding:6px; border-radius: 3px;text-decoration: none; color:#3c763d;}
a.button:hover{background: #d6e9c6;}
a.genericLink{color:#363A3F;}

/* classi generiche */
.actHome{color:#ff0000 !important;}
.actHack{border-left:5px solid #82C914 !important; color:#82C914 !important;}
.actProject{border-left:5px solid #1da1f2 !important; color:#1da1f2 !important;}
.actTeam{border-left:5px solid #FBBC05 !important; color:#FBBC05 !important;}
.hide, #creditfooter{display:none;};
.cursor{cursor:pointer !important;}
.inline{display:inline-block;vertical-align:top;}
.alert{padding: 15px; border: 1px solid transparent; border-radius: 4px; margin: 0px auto; text-align: center;}
.success{border:1px solid #00c5ca; background-color: #c6f3f5; color: #006366; text-align: center;}
.warning{border:1px solid #e5ce23; background-color: #ffef9f; color: #685815; text-align: center;}
.error{border:1px solid rgb(200,0,0); background-color: rgba(200,0,0,0.3); color: rgb(200,0,0); text-align: center;}
.transition, a{-webkit-transition: all .30s linear; -moz-transition: all .30s linear; -ms-transition: all .30s linear; -o-transition: all .30s linear; transition: all .30s linear;}
.olControlAttribution{bottom:0px !important;font-size: .6rem !important;}
.red{color:#AA1313;}
.rowButton {margin-top: 20px;}
.iForm {border: 1px solid #999 !important; border-right: none !important; border-radius: 3px 0px 0px 3px; font-size: 1.7rem; padding: 6px; display: inline-block; margin-right: -5px;}
.bForm { border-left: 1px transparent !important;}

/* tabelle footable lista record */
.footable{border:1px solid #0088cc;}
.footable th{font-weight:bold;background:#0088cc;color:#fff}
.footable th, .footable td{padding:5px 0px;}
.footable td:nth-child(1){text-align:center;}
.footable a{color:#ff0000;}
.pagination-centered { text-align: center;margin-top: 20px !important;}
.pagination ul {display: inline-block; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05); -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05); box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);}
.pagination ul > li{display:inline;line-height: 20px;}
.pagination ul > li > a, .pagination ul > li > span {float: left;color: #0088cc; padding: 4px 12px;font-size:.8rem; line-height: 20px; text-decoration: none; background-color: #ffffff; border: 1px solid #dddddd; border-left-width: 0;}
.pagination ul > li > a:hover{background:}
.pagination ul > .disabled > span, .pagination ul > .disabled > a, .pagination ul > .disabled > a:hover, .pagination ul > .disabled > a:focus { color: #999999 !important; cursor: default; background-color: transparent;}
.pagination ul > li:first-child > a, .pagination ul > li:first-child > span { border-left-width: 1px; -webkit-border-bottom-left-radius: 4px; border-bottom-left-radius: 4px; -webkit-border-top-left-radius: 4px; border-top-left-radius: 4px; -moz-border-radius-bottomleft: 4px; -moz-border-radius-topleft: 4px;}
.pagination ul > li > a:hover, .pagination ul > li > a:focus, .pagination ul > .active > a, .pagination ul > .active > span { background-color: #f5f5f5;}
.pagination ul > .active > a,.pagination ul > .active > span {color: #999999; cursor: default;}

/* mobile */
@media only screen and (min-width:319px) and (max-width:480px) {
    section#main article ul li div,.fbsubscribelink a:nth-child(2),#creditfooter {display:none;}

    header#main{left:0px; height: 60px; box-shadow: 0px 2px 3px #000;}
    header#main #wrapLogo{display: inline-block; width: 20%; height: 60px; margin: 0px;}
    header#main nav{display: inline-block; width: 75%; vertical-align: top; text-align: right;}
    header#main nav li{display:inline-block;text-align:center;}
    header#main nav li a{ text-decoration:none;display:block;width:40px; padding:10px 0px;color:#909090;text-shadow:0px 0px 1px #000;}
    header#main nav li a span{display:block;font-size:.8rem}
    header#main nav li a i{display:block;font-size:1.3rem}
    header#main #wrapLogo h1{position: absolute; top: 40px; left: 5px; font-size: .8rem;color:white;}
    header#main #wrapLogo h1 span{color:red}
    .flex-viewport { max-height: 50% !important;}
    .panel {width: 40px; height: 40px; margin: 0px; position: absolute;-webkit-perspective: 600px; perspective: 600px; top: 5px; left: 10px;}
    .panel .front {position: absolute;top: 0;left: 0; z-index: 900; width: inherit; height: 100%; background-image:url('../img/layout/moneta1.png');
    background-repeat:no-repeat; background-size:100% 100%; -webkit-transform:rotateX(0) rotateY(0); transform: rotateX(0) rotateY(0); -webkit-transform-style: preserve-3d; transform-style: preserve-3d; -webkit-backface-visibility: hidden; backface-visibility: hidden;   -webkit-transition: all .4s ease-in-out; transition: all .4s ease-in-out; }
    .panel.flip .front { z-index: 900; -webkit-transform: rotateY(179deg); transform: rotateY(179deg);}
    .panel .back {position: absolute;top: 0;left: 0; z-index: 800; width: inherit; height: 100%; background-image:url('../img/layout/moneta2.png'); background-repeat:no-repeat; background-size:100% 100%;
    -webkit-transform: rotateY(-179deg); transform: rotateY(-179deg); -webkit-transform-style: preserve-3d; transform-style: preserve-3d; -webkit-backface-visibility: hidden; backface-visibility: hidden; -webkit-transition: all .4s ease-in-out; transition: all .4s ease-in-out;}
    .panel.flip .back { z-index: 1000; -webkit-transform: rotateX(0) rotateY(0); transform: rotateX(0) rotateY(0);}

    #mainWrap{position:relative;margin-top:60px;}

    #mappaTool{width:60%;padding: 2px 10px;}
    #mappaTool header.main{font-size: .8rem;}
    #mappaTool header.sub{font-size: .7rem;padding-top: 10px; border-top: 1px solid #fbbc05;}
    #mappaTool article{margin: 10px auto; font-size: .6rem; }
    .olControlZoom a{width:30px !important;height:30px !important;font-size:1rem !important;line-height: 25px !important;}

    section#servizi header{font-size: 1.3rem;}
    section#servizi .container {top: 10%;}
    section#servizi .container h1 {font-size: .8rem;}
    section#servizi .container p {display:none;}
    .olControlAttribution{bottom:1px !important;left:2px;font-size:.7rem !important;}
    .layerAct{color:#fff !important;}
    .fa-check-square-o {color:#82C914 !important;}

    header.sectionMain, header.sectionMain a {font-size: 1.3rem !important;}

    #infoContent div{margin-bottom:10px;padding-bottom:10px; border-bottom:1px dotted #6e6c6c}
}
/* Tablets */
@media only screen and (min-width:481px) and (max-width:1024px) {

}

/* pc */
@media screen and (min-width: 1025px){
    #mainWrap, footer { position: relative; z-index: 1; margin-right: 5%;}
    #mainWrap #main .mainDiv{display:inline-block; margin:0px; width:33%;vertical-align:top;}
    header#main{bottom:0px; width: 5%; box-shadow: -2px 0px 3px #000;}
    header#main h1 {font-size: .8rem;font-weight: bold; color: #fff; text-align: center;}
    header#main h1 span { color: red;}
    header#main nav { margin: 30px 0px;}
    header#main nav li { text-align: center;}
    header#main nav li a { text-decoration: none; display: block; font-size: 1rem; color: #909090; margin: 35px 0px; border-left: 5px solid transparent; text-shadow: 0px 0px 3px #000;}
    header#main nav li a#home:hover{border-left:5px solid #ff0000 !important; color:#ff0000 !important;}
    header#main nav li a#hack:hover{border-left:5px solid #82C914 !important; color:#82C914 !important;}
    header#main nav li a#project:hover{border-left:5px solid #1da1f2 !important; color:#1da1f2 !important;}
    header#main nav li a#team:hover{border-left:5px solid #FBBC05 !important; color:#FBBC05 !important;}
    header#main nav li a#login:hover{border-left:5px solid #FFF !important; color:#FFF !important;}
    header#main nav li a i { display: block;font-size:2rem; }
    #settingUl {display:none;}
    .subMenu {position: absolute;/* margin-left: -152px; margin-top:-68px;*/ display: block; width: 150px; padding:10px 0px;border-radius:5px 0px 0px 5px; background: rgb(69,73,78); color:#909090 !important;}
    .subMenu li{border-top:1px solid #909090;border-bottom:1px solid transparent;text-align:left !important;}
    .subMenu li:last-child{border-bottom:1px solid #909090;}
    .subMenu li:hover{border-top:1px solid #fff;border-bottom:1px solid #fff;}
    .subMenu li a, .subMenu li i{display: inline-block !important; font-size: .9rem !important; line-height: 1.3em;margin:1px 0px !important;}
    .subMenu li a{width:130px;padding:5px;}
    .subMenu li a:hover{color:#fff;}
    .logImg{width:80%;border-radius:90%;}
    #mappaTool{width:25%;padding: 5px 20px; border-radius:5px 0px 0px 5px;}
    #mappaTool header.main{font-size: 1.3rem;}
    #mappaTool header.sub{font-size: 1rem;padding-top: 10px; border-top: 1px solid #fbbc05;}
    #mappaTool article{width: 90%; margin-bottom: 10px; font-size: .8rem; }
    #mappaTool #legend {display:none;padding-top:10px; border-top:1px solid #fbbc05;}
    #mappaTool #legend ul{color:#fff;}
    #mappaTool #legend ul li span{font-size:.9rem; margin-bottom: 5px; display: block;}
    #mappaTool #legend ul li {font-size:.85rem;}
    .olControlZoom a{width:40px !important;height:40px !important;font-size:1.3rem !important;line-height: 40px !important;}
    section#servizi .container {top: 3%;}
    section#servizi .container h1 {font-size: 1.5rem;}
    section#servizi .container p {font-size: 1rem; width: 80%; line-height: 1.3em;}
    .flex-viewport { max-height: 580px !important;}
    header.sectionMain, header.sectionMain a {font-size: 1.3rem !important;}
    .feedburnerFeedBlock div, .postList{font-size:.8rem;}
    .panel {width: 100%; margin: 5px 0px; position: relative; -webkit-perspective: 600px; perspective: 600px;}
    .panel .front {position: absolute;top: 0;left: 0; z-index: 900; width: inherit; height: 100%; background-image:url('../img/layout/moneta1.png'); background-repeat:no-repeat; background-size:100% 100%; -webkit-transform:rotateX(0) rotateY(0); transform: rotateX(0) rotateY(0); -webkit-transform-style: preserve-3d; transform-style: preserve-3d; -webkit-backface-visibility: hidden; backface-visibility: hidden;   -webkit-transition: all .4s ease-in-out; transition: all .4s ease-in-out; }
    .panel.flip .front { z-index: 900; -webkit-transform: rotateY(179deg); transform: rotateY(179deg);}
    .panel .back {position: absolute;top: 0;left: 0; z-index: 800; width: inherit; height: 100%; background-image:url('../img/layout/moneta2.png'); background-repeat:no-repeat; background-size:100% 100%; -webkit-transform: rotateY(-179deg); transform: rotateY(-179deg); -webkit-transform-style: preserve-3d; transform-style: preserve-3d; -webkit-backface-visibility: hidden; backface-visibility: hidden; -webkit-transition: all .4s ease-in-out; transition: all .4s ease-in-out;}
    .panel.flip .back { z-index: 1000; -webkit-transform: rotateX(0) rotateY(0); transform: rotateX(0) rotateY(0);}

    footer #wrapFooter {margin: 0px auto; padding: 20px 0px;}
    footer #wrapFooter #infoContent div {display:inline-block; width: 22%; height: 250px; padding: 0px 10px;vertical-align:top;}
    footer #wrapFooter #infoContent div:nth-child(-n+3) { border-right: 1px dotted #6e6c6c;}
    footer #wrapFooter header { font-size: 1rem; color: #82C914; font-weight: bold;}
    footer #copyright, footer #navFooter{ border-top: 1px dotted #6e6c6c; padding-top: 10px;}
    footer #navFooter li { display: inline-block; text-align: center; width: 50px;}
}
