@import url("style.css");
@import url("../lib/tag/tagmanager.css");
.form{width:80%;}
.form header{width:80% !important;margin:0px auto 20px;}
form{width:80%;margin:0px auto;}
form div.row{margin-bottom:15px;}
form label{display:block;}
form textarea,form select, form input{width:95%;}
#myImg img.preview{width:100px;height:100px;border-radius:100px;}
#uploadButton{width:70%; margin-left:30px; vertical-align:middle !important;}
button[name='triggerUpload']{ background: #AD8100; cursor: pointer; width: 200px;font-size: 1rem; color: #fff; border: 1px solid #8F6C08;}
button[name='triggerUpload']:hover{background: #8F6C08;}
.tm-tag{padding:8px !important;}
input[name='tags']{width:150px !important;}
select[name='newSocialType']{width:auto !important;}
input[name='newSocialUrl']{width:400px !important;}
button[name='newSocialAdd']{padding:8px; cursor:pointer;background:#fff;}
button[name='newSocialAdd']:hover{background:#d6d6d6;}
i.remove{cursor:pointer;}
.delSocialButton{margin-left:5px;cursor:pointer;padding: 3px 6px;}
form[name='usrPwdModForm'] label{display: inline-block !important; width: 20%; text-align: right;}
form[name='usrPwdModForm'] input{width:75%;}
